.wrapper {
    display: flex;
    padding: 50px;
    height: 100%;
    color: black;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.col1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col2 {
width: 40%;
margin: 0 auto;
}
.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TextLarge{
    color: rgb(46, 60, 87);
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 700;

}
.spanTextSmall{
    color: rgb(92, 102, 123);
    margin-bottom: 24px;
    font-size: 1rem;
}
.inputs {
    display: flex;
    flex-direction: column;

}
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.label{
    margin: 10px;
}

.emailSection {
    display: flex;
    justify-content: center;
}
.email {
    margin-left: 10px;
    outline: none;
    width: 50%;
}
.submit {
    margin-left: 230px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(27, 27, 71);
    border: none;
}
.span {
    font-weight: 800;
    font-size: 19px;
    color: rgb(15, 15, 53);
    margin-top: 22px;
}
.img {
    width: 100%;
    margin: 0 auto;
}
.alertMessage{
    color: red;
    font-size: 13px;
}


.successMessageContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .successIcon{
    color: rgb(0, 113, 235);
  }
  .successMessage{
    font-weight: 700;
    margin: 30px;
    font-size: 20px;
    color: rgb(54, 54, 54);
  }
  .backIcon, .back{
    margin-right: 20px;
    cursor: pointer;
  }
  .backIcon:hover, .back:hover{
    opacity: 60%;
  }
  .backContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .getAlertsButton{
    border-radius: 8px;
    border: none;
    padding: 15px 16px;
    margin: 25px 0px;
    font-size: 1.0rem;
    background: rgb(0, 113, 235);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .getAlertsButton:hover{
    opacity: 80%;
    box-shadow: 1px 1px 6px 6px rgba(199, 199, 199, 0.53);
}
.buttonContainer{
    display: flex;
}
